<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Translator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        /* Loading indicator style */
        #loading {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 20px;
            background-color: rgba(255, 255, 255, 0.8);
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        /* Prediction dropdown style */
        #suggestions-block {
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-top: 10px;
            padding: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            height: 200px; /* Фиксированная высота блока подсказок */
            overflow-y: auto;
        }
        #suggestions {
            height: 100%; /* Занимает всю высоту родительского блока */
        }
        .suggestion-item {
            padding: 8px;
            cursor: pointer;
            border-bottom: 1px solid #ccc;
        }
        .suggestion-item:last-child {
            border-bottom: none;
        }
        .suggestion-item:hover {
            background-color: #f1f1f1;
        }

        .form-group {
            position: relative;
            width: 100%;
            padding: 0 10px;
        }

        input[type="text"] {
            box-sizing: border-box;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            width: 100%;
        }

        /* Center content and style form */
        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h1 {
            text-align: center;
            color: #007BFF;
            margin-bottom: 20px;
        }

        nav {
            text-align: center;
            margin-bottom: 20px;
        }

        nav button {
            padding: 10px 20px;
            margin: 5px;
            border: none;
            border-radius: 4px;
            background-color: #007BFF;
            color: white;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        nav button:hover {
            background-color: #0056b3;
        }

        form.center-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            margin-bottom: 20px;
            width: 100%;
            max-width: 500px;
        }

        label {
            font-weight: bold;
            align-self: flex-start;
        }

        input[type="text"] {
            box-sizing: border-box;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            width: 100%;
        }

        button {
            padding: 10px;
            border: none;
            border-radius: 4px;
            background-color: #007BFF;
            color: white;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        button:hover {
            background-color: #0056b3;
        }

        #translation_ru, #translation_uk, #message {
            font-size: 18px;
            margin-top: 10px;
        }

        .translations {
            text-align: center;
            margin-bottom: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        th, td {
            padding: 12px;
            border: 1px solid #ccc;
            text-align: left;
        }

        th {
            background-color: #007BFF;
            color: white;
        }

        @media (max-width: 600px) {
            .container {
                padding: 10px;
            }

            h1 {
                font-size: 24px;
            }

            table, th, td {
                font-size: 14px;
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Word Translator</h1>
        <nav>
            <button onclick="window.location.href='/list'">View Word List</button>
        </nav>
        <form id="wordForm" class="center-form">
            <label for="wordInput">Enter an English word:</label>
            <div class="form-group">
                <input type="text" id="wordInput" name="word" required autocomplete="off">
            </div>
            <button type="submit" id="translateButton">Submit</button>
        </form>
        <div class="translations">
            <div id="translation_ru"></div>
            <div id="translation_uk"></div>
            <div id="message"></div>
        </div>
        <div id="suggestions-block">
            <h3>Suggestions</h3>
            <div id="suggestions"></div>
        </div>
        <div id="loading">Translating...</div>
    </div>
    
    <script>
        // Function to fetch word suggestions from Datamuse API
        async function fetchSuggestions(query) {
            const response = await fetch(`https://api.datamuse.com/sug?s=${query}`);
            return response.json();
        }

        // Function to format text: first letter capitalized, rest lowercased
        function formatText(text) {
            if (text.length === 0) return '';
            return text.charAt(0).toUpperCase() + text.slice(1).toLowerCase();
        }

        document.getElementById('wordInput').addEventListener('input', async function() {
            const inputField = document.getElementById('wordInput');
            inputField.value = formatText(inputField.value);
            const query = inputField.value;
            const suggestionsContainer = document.getElementById('suggestions');
            const suggestionsBlock = document.getElementById('suggestions-block');

            // Clear previous suggestions
            suggestionsContainer.innerHTML = '';

            if (query.length > 0) {
                const suggestions = await fetchSuggestions(query);
                suggestions.slice(0, 5).forEach(suggestion => { // Limit suggestions to 5
                    const suggestionItem = document.createElement('div');
                    suggestionItem.className = 'suggestion-item';
                    suggestionItem.innerText = formatText(suggestion.word);
                    suggestionItem.addEventListener('click', function() {
                        inputField.value = formatText(suggestion.word);
                        suggestionsContainer.innerHTML = '';
                    });
                    suggestionsContainer.appendChild(suggestionItem);
                });
            }
        });

        document.getElementById('wordForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const inputField = document.getElementById('wordInput');
            const word = formatText(inputField.value);
            inputField.value = word;  // Ensure input is formatted before sending
            const translateButton = document.getElementById('translateButton');
            const loading = document.getElementById('loading');
            const suggestionsContainer = document.getElementById('suggestions');

            // Clear suggestions
            suggestionsContainer.innerHTML = '';

            // Show loading indicator and disable button
            translateButton.disabled = true;
            loading.style.display = 'block';

            fetch('/translate', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ word: word }),
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('translation_ru').innerText = `Translation (Russian): ${data.translation_ru}`;
                document.getElementById('translation_uk').innerText = `Translation (Ukrainian): ${data.translation_uk}`;
                document.getElementById('message').innerText = data.message;

                // Hide loading indicator and enable button
                translateButton.disabled = false;
                loading.style.display = 'none';
            })
            .catch(error => {
                console.error('Error:', error);

                // Hide loading indicator and enable button
                translateButton.disabled = false;
                loading.style.display = 'none';
            });
        });
    </script>
</body>
</html>
