<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h1 {
            text-align: center;
            color: #007BFF;
            margin-bottom: 20px;
        }

        nav {
            text-align: center;
            margin-bottom: 20px;
        }

        nav button {
            padding: 10px 20px;
            margin: 5px;
            border: none;
            border-radius: 4px;
            background-color: #007BFF;
            color: white;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        nav button:hover {
            background-color: #0056b3;
        }

        .export-buttons {
            display: flex;
            gap: 10px;
            margin-bottom: 20px;
        }

        .export-buttons button {
            padding: 10px 20px;
            margin: 0;
            border: none;
            border-radius: 4px;
            background-color: #28a745;
            color: white;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .export-buttons button:hover {
            background-color: #218838;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        th, td {
            padding: 12px;
            border: 1px solid #ccc;
            text-align: left;
        }

        th {
            background-color: #007BFF;
            color: white;
        }

        .checkbox-center {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .remove-button {
            background-color: #dc3545;
            color: white;
            border: none;
            border-radius: 4px;
            padding: 5px 10px;
            cursor: pointer;
        }

        .remove-button:hover {
            background-color: #c82333;
        }

        @media (max-width: 600px) {
            .container {
                padding: 10px;
            }

            h1 {
                font-size: 24px;
            }

            table, th, td {
                font-size: 14px;
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Word List</h1>
        <nav>
            <button onclick="window.location.href='/'">Go to Translator</button>
        </nav>
        <div class="export-buttons">
            <button onclick="window.location.href='/export?type=all'">Export All</button>
            <button onclick="window.location.href='/export?type=checked'">Export Checked</button>
            <button onclick="window.location.href='/export?type=unchecked'">Export Unchecked</button>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Word</th>
                    <th>Translation (Russian)</th>
                    <th>Translation (Ukrainian)</th>
                    <th>Explanation</th>
                    <th>Checked</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                {% for word in words %}
                <tr>
                    <td>{{ word.word }}</td>
                    <td>{{ word.translation_ru }}</td>
                    <td>{{ word.translation_uk }}</td>
                    <td>{{ word.explanation }}</td>
                    <td class="checkbox-center">
                        <input type="checkbox" onclick="toggleChecked('{{ word.word }}')" {% if word.checked %}checked{% endif %}>
                    </td>
                    <td>
                        <button class="remove-button" onclick="removeWord('{{ word.word }}')">Remove</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        function toggleChecked(word) {
            fetch('/toggle_checked', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ word: word }),
            });
        }

        function removeWord(word) {
            fetch('/delete_word', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ word: word }),
            }).then(() => {
                window.location.reload();
            });
        }
    </script>
</body>
</html>
